export FLASK_APP="app.py"
export APP_SETTINGS='config.DevelopmentConfig'

export MYSQL_DB_HOST="localhost"
export MYSQL_DB_USERNAME="root"
export MYSQL_DB_PASSWORD=""
export MYSQL_DATABASE="test_db"
export MYSQL_DB_PORT="3306"

export POSTGRES_DB_HOST="localhost"
export POSTGRES_DB_USERNAME="postgres"
export POSTGRES_DB_PASSWORD="Pass123"
export POSTGRES_DATABASE="test_db"
export POSTGRES_DB_PORT="5432"